* {
    box-sizing: border-box;
    /* background-color: #393b44fa; */
}

body {
    font-family: "Lato", "serif";
    font-weight: 550;
    font-size: 18px;
    background-color: #1C1D21;
    color: #F1E3E4;
    opacity: 90%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

/* -------Header------- */

header {
    margin-top: 40px;
    text-align: center;
}

.desktop-header ul {
    list-style: none;
    position: fixed;
    top: 40px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    margin: 0;
    padding: 10px;
    width: 650px;
    border-radius: 30px;
    background-color: #1C1D21;
    /* background-color: #2d2e35f1; */
    backdrop-filter: blur(30px);
    z-index: 10;
    transition: background-color 0.5s ease;
  }

.desktop-header li {
    display: inline-block;
}

.desktop-header a {
    text-decoration: none;
    font-weight: 700;
    color: #F1E3E4;
    transition: 0.3s ease;
    width: 100px;
    display: block;
    padding: 5px;
    margin: 0 20px;
    text-align: center;
    border-radius: 20px;
}

.desktop-header a:hover {
    color: #929292;
}

.desktop-header a:active {
    color: #fff;
}

@media only screen and (min-width: 1920px) {
    .desktop-header ul {
        width: 950px;
      }

    .desktop-header a {
        font-size: 30px;
        width: 180px;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-header {
    display: none;
    }
}

@media only screen and (max-width: 767px) {
    .desktop-header {
        display: none;
    }

    .mobile-header ul {
        list-style: none;
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        width: 250px;
        border-radius: 20px;
        background-color: #373941ef;
        backdrop-filter: blur(30px);
        z-index: 10;
        transition: background-color 0.5s ease;
    }

    .mobile-header li {
        display: inline-block;
    }
    
    .mobile-header a {
        text-decoration: none;
        color: #F1E3E4;
        transition: 0.3s ease;
        display: block;
        padding: px;
        margin: 0px 10px;
        text-align: center;
        border-radius: 20px;
    }

    .mobile-header img {
        height: 30px;
        width: 30px;
    }
}

/* -------Main Section------- */

.main-section {
    position: relative;
    z-index: 1;
}

.about-me {
    text-align: center;
    margin: 200px 0px 100px 0px;
    position: relative;
    z-index: 1;
}

h1 {
    font-family: "Young Serif";
    font-size: 80px;
    margin: 0;
}

.about-me h2 {
    font-family: "Young Serif";
    font-size: 58px;
    margin: 0;
}

.about-me p {
    margin-top: 60px;
}

@media only screen and (min-width: 1920px) {
    .about-me h1 {
        font-size: 130px;
    }

    .about-me h2 {
        font-size: 97px;
    }

    .about-me p {
        font-size: 30px;
    }
}

@media only screen and (max-width: 992px) {
    .about-me {
        margin-top: 130px;
        margin-bottom: 70px;
    }
    
    .about-me h1 {
        font-size: 50px;
    }

    .about-me h2 {
        font-size: 37px;
    }

    .about-me p {
        font-size: 17px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 425px) {
    .about-me {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .about-me h1 {
        font-size: 30px;
    }

    .about-me h2 {
        font-size: 22px;
    }

    .about-me p {
        font-size: 17px;
        width: auto;
        margin: 20px 40px;
        margin-top: 20px;
    }
}
/* -------Project Section------- */

.project-section {
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
}

.project {
    display: inline-block;
    margin: 30px;
    text-align: end;
    border-radius: 50px;
    position: relative;
    top: 0;
    transition: top 0.2s ease;
}

.project a {
    text-decoration: none;
    color: inherit;
}

.project-1 {
    height: 550px;
    width: 750px;
    padding: 50px;
    border-radius: 50px;
    background-color: #654F69;
    overflow: hidden;
}

.project-2 {
    height: 550px;
    width: 450px;
    padding: 50px;
    border-radius: 50px;
    background-color: #926381;
    overflow: hidden;
}

.project span {
    font-weight: 400;
    margin: 0;
}

.project h2 {
    font-size: 35px;
    margin: 0;
}

.project img {
    max-width: 160%;
    max-height: 160%;
    object-fit: contain;
    margin-top: 40px;
    border-radius: 15px;
}

@media only screen and (min-width: 1920px) {
    .project-1, .project-2 {
        width: 750px;
    }
}

@media only screen and (max-width: 1324px) {
    .project-1, .project-2 {
        height: 400px;
        width: 500px;
    }
}

@media only screen and (max-width: 810px) {
    .project-1, .project-2 {
        height: 300px;
        width: 650px;
    }
}

@media only screen and (max-width: 720px) {
    .project-1, .project-2 {
        height: 300px;
        width: 550px;
        padding: 5px;
    }
}

@media only screen and (max-width: 425px) {
    .project {
        margin: 10px;
    }
    
    .project-1, .project-2 {
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }

    .project h2 {
        font-size: 20px;
    }

    .project span {
        font-size: 15px;
    }

    .project img {
        display: none;
    }
}

/* -------Skills Section------- */

.skills-section {
    margin: 80px 50px;
    position: relative;
    z-index: 1;
}

.skills-section h2 {
    font-size: 40px;
    margin-left: 60px;
}

.skills-section ul {
    list-style: none;
    text-align: center;
    padding: 20PX;
    border-radius: 40px;
    background-color: #25272c;
}

.skills-section li {
    display: inline-block;
    margin: 10px 50px;
}

.skills-section img {
    height: 60px;
    width: 60px;
}

@media only screen and (max-width: 425px) {
    .skills-section {
        margin: auto 10px;
    }

    .skills-section h2 {
        font-size: 30px;
        margin: 10px 20px;
    }

    .skills-section ul {
        padding: 10PX;
        border-radius: 30px;
    }
    
    .skills-section li {
        margin: 10px;
    }

    .skills-section img {
        height: 30px;
        width: 30px;
    }
}


/* -------Contact Section------- */

.contact-section {
    padding: 50px;
    font-family: "Lato", serif;
    border-radius: 50px;
    margin: 50px;
    background-color: #CCBCBC;
    color: #1C1D21;
    position: relative;
    z-index: 1;
}

.email h2 {
    font-family: "Young Serif";
    font-size: 40px;
    margin-left: 60px;
}

.email p {
    font-size: 20px;
    margin-left: 60px;
}

.social-media ul {
    list-style: none;
    margin: 80px 0px 0px 40px;
}

.social-media li {
    display: inline-block;
}

.social-media a {
    width: auto;
    display: block;
    padding: 0;
    margin: 0px 20px;
    text-align: center;
}

.social-media img {
    height: 40px;
    width: 40px;
}

@media only screen and (max-width: 425px) {
    .contact-section {
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
    }

    .email h2 {
        width: auto;
        margin: 20px;
    }

    .email p {
        margin: 20px;
        font-size: 1rem;
    }

    .social-media {
        width: 100%;
        text-align: center;
    }

    .social-media ul {
        /* display: inline-block; */
        width: auto;
        padding: 0;
        margin: 80px 0px 40px 0px;
    }

    .social-media img {
        height: 35px;
        width: 35px;
    }
}

@media only screen and (max-width: 320px) {
    .email p {
        font-size: 0.9rem;
    }
}


/* -------Footer------- */

footer {
    font-size: 16px;
    padding: 5px 20px;
    position: relative;
    z-index: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 1920px) {
    footer span {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 425px) {
    footer {
        display: none;
    }
}